<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/fragments :: header(${'Dashboard'})">

</head>
<body>
<nav th:replace="partials/fragments :: dashbar"></nav>
<!--Google Map container-->
<div id="map-container" class="z-depth-1"></div>



<!--Google Maps API key-->
<script src="https://maps.google.com/maps/api/js?key=AIzaSyAxRJQ2z_RF7BIbR_QLUawSWrQAa1Hhbds" async=""></script>


<script th:replace="partials/fragments :: bootstrap"></script>

</body>
<!--<footer th:replace="partials/fragments :: dashFooter"></footer>-->
</html>