/*HTML*/
body {
    background-color: #eee2cb;
}

h1 {
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: 700;
    color: #512c2a;
    font-size: 5rem;
    margin-top: 50px;

}


/*onboarding*/
.searchHome {
    height: 200px;

}

.addHome {
    height: 200px;

}

.exploreHome {
    height: 200px;

}

/*animation*/
.wow {
    visibility: visible;
}

/*navigation*/
.navbar {
    box-shadow: none !important;
}

.nav-link {
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: 900 !important;
    font-size: 1.3rem;

}

a:hover {
    color: #d0944a !important;
}

.nav-link {
    color: #512c2a !important;
    font-weight: bolder;
}

#myNavbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    transition: .5s;
    opacity: .9;
    z-index: 9;

}

#myDashbar {
    background: #eee2cb;
    position: fixed;
    top: 0;
    width: 100%;
    transition: .5s;
    opacity: .9;
    z-index: 9;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;

}

#myAppNav {
    background: #eee2cb;
    top: 0;
    width: 100%;
    transition: .5s;
    opacity: .9;
    z-index: 9;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
}

#myDashFooter {
    height: 70px;
    background-color: #d0944a;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .16), 0 -2px 10px 0 rgba(0, 0, 0, .12);

}

#home-footer {
    background-color: #d0944a;
}

#home-footer-bottom {
    background-color: #512c2a;
}

/*modal*/
#modal {
    background-color: #eee2cb;
}

.modal-B-color {
    background-color: #512c2a;
}

/*icons*/
.icon {
    width: 10%
}

#homeIcon {
    width: 30px;
}

.inline {
    display: inline;
}

#logo {
    -webkit-filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, .8));
    filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, .5));
    margin-left: 20px;
}

#logo-text {
    font-family: "mr-eaves-modern", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    color: #d0944a;
    margin-left: 8px;
    letter-spacing: 3px;
    position: relative;
    top: 8px;
    -webkit-filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, .8));
    filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, .4));

}

.shadow {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

/*map*/
#map-container {
    height: 540px;
}

#pin {
    position: absolute;
    bottom: 27px;
    left: 42%;
    width: 20%;
}

/*homepage*/
.welcome{
    margin-top: 100px;
    margin-bottom: 200px;
}
#hero {
    background-image: linear-gradient(rgba(238, 226, 203, 1), rgba(208, 148, 74, 0.1)), url(../img/adventure-ancient-antique-697662.jpg);
    height: 70vh;
    background-size: cover;
    padding-top: 8vh;
    padding-bottom: 30vh;
    width: 100%;

}

#onboard {
    margin-top: 100px;

}

#home {
    height: 1500px;
    margin: 0;
}

#space {
    margin-top: 200px;
}

#register {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
}
.reg-login-button{
    background-color: #512c2a !important;
}

#login {
    margin-bottom: 50px;
    margin-top: 100px;
    width: 50%;
}

.logoutNav {
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: 900 !important;
    font-size: 1.3rem;
    color: #512c2a !important;
}

/*scroll for lists*/
.table-wrapper-2 {

    display: block;
    max-height: 200px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

/*iPhone X ---------------------------------------*/
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {
    /*profile*/
    .table-wrapper-2 {
        display: block;
        max-height: 300px;
        overflow-y: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    #table-head {
        background-color: #d0944a;
    }

    #profile-content {
        margin-top: 25%;
    }

    #profile-height {
        background-color: #eee2cb;
        height: 820px;
    }

    #profile-color {

        background-color: #d0944a;
        height: 200px;
        width: 100%;
    }

    .profile {

        top: 50px;
        margin-top: 80px;
        height: 200px;
        width: 200px;
        border: #eee2cb solid 4px;
        border-radius: 100px;
        background-color: #512c2a;
    }

    #profile-icon {

        margin-left: 25px;
        margin-top: 15px;
        height: 140px;
        width: 140px;

    }

    /*modal/dashboard*/
    #geocacheModal {
        margin-top: 18%;
    }

    /*map*/
    #map-container {
        margin-top: 52px;
        height: 690px;

    }

    /*logo/icons*/
    #logo-text {
        position: relative;
        top: 8px;
        margin-left: 9px;
        font-size: 2.4rem;
    }

    #logo {
        margin-left: -1px;
    }

    #login {
        margin-bottom: 50px;
        margin-top: 150px;
        width: 100%;
    }

    .logoutNav {
        font-family: "mr-eaves-modern", sans-serif;
        font-weight: 900 !important;
        font-size: 1.3rem;
        color: #512c2a !important;
    }

    #register {
        width: 100%;
    }

    .dash-link1 {
        font-weight: bold;
        color: #512c2a;
        margin-left: 29px;

    }
    .dash-link2 {
        font-weight: bold;
        color: #512c2a;
        margin-left: 32px;

    }

    /*list*/
    .table-wrapper-1 {
        margin-top: 20%;
        display: block;
        max-height: 800px;
        overflow-y: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

}

/*iPhone 6/7/8------------------------------------------------*/
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) {
    /*onboarding-mobile*/
    .searchHome {
        height: 200px;

    }

    .addHome {
        height: 200px;

    }

    .exploreHome {
        height: 200px;

    }

    /*profile*/
    .table-wrapper-2 {
        display: block;
        max-height: 200px;
        overflow-y: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    #table-head {
        background-color: #d0944a;
    }

    #profile-content {
        margin-top: 15%;
    }

    #profile-height {

        background-color: #eee2cb;
        height: 668px;
    }

    #profile-color {

        background-color: #d0944a;
        height: 200px;
        width: 100%;
    }

    .profile {

        top: 50px;
        margin-top: 30%;
        height: 150px;
        width: 150px;
        border: #eee2cb solid 4px;
        border-radius: 150px;
        background-color: #512c2a;
    }

    #profile-icon {

        margin-left: 21px;
        margin-top: 15px;
        height: 100px;
        width: 100px;

    }

    /*list*/
    .table-wrapper-1 {
        margin-top: 20%;
        display: block;
        max-height: 800px;
        overflow-y: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    /*modal/dashboard*/
    #geocacheModal {
        margin-top: 5%;
    }

    /*home*/
    #hero {
        background-position: 450px 0px;
        height: 375px;

        /*logo/icons*/
    }

    #logo-text {
        position: relative;
        top: 8px;
        margin-left: 5px;
        font-size: 2.4rem;
    }

    #logo {
        margin-left: 5px;
    }

    #register {
        width: 100%;

    }

    #login {
        margin-bottom: 50px;
        margin-top: 100px;
        width: 100%;
    }

    .logoutNav {
        font-family: "mr-eaves-modern", sans-serif;
        font-weight: 900 !important;
        font-size: 1.3rem;
        color: #512c2a !important;

    }

    .dash-link1 {
        font-weight: bold;
        color: #512c2a;
        margin-left: 29px;
    }
    .dash-link2 {
        font-weight: bold;
        color: #512c2a;
        margin-left: 32px;

    }

    /*map*/
    #map-container {
        margin-top: 52px;
        height: 550px;

    }
}

/*iPhone 6/7/8 plus----------------------------------*/
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (orientation: landscape) {

}

@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {
    /*profile*/
    .table-wrapper-2 {
        display: block;
        max-height: 200px;
        overflow-y: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    #rule-line {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #table-head {
        background-color: #d0944a;
    }

    #profile-content {

        margin-top: 20%;

    }

    #profile-body {
        height: 50%;
    }

    #profile-height {
        background-color: #eee2cb;
        height: 740px;
    }

    #profile-color {
        background-color: #d0944a;
        height: 200px;
        width: 100%;
    }

    .profile {

        top: 50px;
        margin-top: 80px;
        height: 200px;
        width: 200px;
        border: #eee2cb solid 4px;
        border-radius: 100px;
        background-color: #512c2a;
    }

    #profile-icon {

        margin-left: 25px;
        margin-top: 15px;
        height: 140px;
        width: 140px;

    }

    /*modal/dashboard*/
    #geocacheModal {
        margin-top: 12%;
    }

    #logo-text {
        position: relative;
        top: 10px;
        margin-left: 3px;
        font-size: 2.5rem;
    }

    #register {
        width: 100%;
    }

    #login {
        margin-top: 100px;
        width: 100%;
    }

    .logoutNav {
        font-family: "mr-eaves-modern", sans-serif;
        font-weight: 900 !important;
        font-size: 1.3rem;
        color: #512c2a !important;
    }

    #map-container {
        margin-top: 55px;
        height: 610px;

    }

    /*list*/
    .table-wrapper-1 {
        margin-top: 20%;
        display: block;
        max-height: 800px;
        overflow-y: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .dash-link1 {
        font-weight: bold;
        color: #512c2a;
        margin-left: 29px;
    }

    .dash-link2 {
        font-weight: bold;
        color: #512c2a;
        margin-left: 37px;

    }

}

/*Small devices (landscape phones, 576px and up)*/
/*@media (max-width: 576px) {*/
/*#register {*/
/*width: 100%;*/
/*}*/

/*#login {*/
/*margin-top: 100px;*/
/*width: 100%;*/
/*}*/
/*}*/

