<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: header(${'Home'})">


</head>

<body>

<nav th:replace="partials/fragments :: navbar"></nav>

<div class="wrapper">
    <div id="hero" class="z-depth-4 container-fluid px-0">
        <h1 id="hello" class="text-center">HELLO <span th:text="${name.toUpperCase()}"></span></h1>
    </div>


    <h1 class="text-center my-5 mb-5">Welcome to Orienteer</h1>


    <div class="wow aminated fadeIn mt-5 container-fluid d-sm-block d-md-none">
        <!--Carousel Wrapper-->
        <div id="carousel-example-1z" class="carousel slide carousel-fade z-depth-2" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                <li data-target="#carousel-example-1z" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <!--First slide-->
                <div class="carousel-item active">
                    <!--Card here-->
                    <div class="card shadow">

                        <!--Card image-->
                        <div class="view overlay">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                                 alt="Card image cap"/>
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Card title</h4>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of
                                the card's content.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        </div>

                    </div>

                </div>
                <!--/First slide-->
                <!--Second slide-->
                <div class="carousel-item">
                    <!--Card here-->
                    <div class=" card shadow">

                        <!--Card image-->
                        <div class="view overlay">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg"
                                 alt="Card image cap"/>
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Card title</h4>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of
                                the card's content.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

                        </div>

                    </div>

                </div>
                <!--/Second slide-->
                <!--Third slide-->
                <div class="carousel-item">
                    <!--Card here-->
                    <div class="card shadow">

                        <!--Card image-->
                        <div class="view overlay">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg"
                                 alt="Card image cap"/>
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title">Card title</h4>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of
                                the card's content.</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        </div>
                    </div>
                </div>
                <!--/Third slide-->
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->

    </div>


    <div id="onboard" class="container-fluid d-none d-sm-none d-md-block">
        <!-- Card deck -->
        <div class="card-width card-deck">

            <!-- Card -->

            <div class="wow animated fadeInLeft card shadow mb-sm-5 mb-md-0 mx-lg-5 d-xl-0">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                         alt="Card image cap"/>
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">Card title</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                </div>

            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="wow animated fadeInUp card shadow mb-sm-5 mb-md-0 mx-lg-5 d-xl-0">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg"
                         alt="Card image cap"/>
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">Card title</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

                </div>

            </div>

            <!-- Card -->
            <div class="wow animated fadeInRight card shadow mb-sm-5 mb-md-0 mx-lg-5 d-xl-0">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg"
                         alt="Card image cap"/>
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">Card title</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

                </div>

            </div>
            <!-- Card -->

        </div>
        <!-- Card deck -->
    </div>
    <div id="register" class="container-fluid">
        <!-- Card -->
        <div class="card shadow mx-lg-5 d-xl-0">

            <!-- Card body -->
            <div class="card-body">

                <!-- Material form register -->
                <form>
                    <p class="h4 text-center py-4">Sign up</p>

                    <!-- Material input text -->
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input type="text" id="materialFormCardNameEx" class="form-control"/>
                        <label for="materialFormCardNameEx" class="font-weight-light">Your name</label>
                    </div>

                    <!-- Material input email -->
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="email" id="materialFormCardEmailEx" class="form-control"/>
                        <label for="materialFormCardEmailEx" class="font-weight-light">Your email</label>
                    </div>

                    <!-- Material input email -->
                    <div class="md-form">
                        <i class="fa fa-exclamation-triangle prefix grey-text"></i>
                        <input type="email" id="materialFormCardConfirmEx" class="form-control"/>
                        <label for="materialFormCardConfirmEx" class="font-weight-light">Confirm your email</label>
                    </div>

                    <!-- Material input password -->
                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="materialFormCardPasswordEx" class="form-control"/>
                        <label for="materialFormCardPasswordEx" class="font-weight-light">Your password</label>
                    </div>

                    <div class="text-center py-4 mt-3">
                        <button class="btn btn-cyan" type="submit">Register</button>
                    </div>
                </form>
                <!-- Material form register -->

            </div>
            <!-- Card body -->

        </div>
        <!-- Card -->
    </div>


    <script th:replace="partials/fragments :: bootstrap"></script>


    <footer th:replace="partials/fragments :: homeFooter"></footer>
</div>
</body>
</html>